<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.elmuj.learnmath">


    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name="com.elmuj.learnmath.ui.application"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <receiver android:name="com.elmuj.learnmath.service.AlarmReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>


        <service
            android:name="com.elmuj.learnmath.service.NotificationService"
            android:enabled="true">

        </service>

        <receiver
            android:name="com.elmuj.learnmath.service.RestartService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="RestartService" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/app_id" />


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.elmuj.learnmath.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>
        <receiver android:name="com.elmuj.learnmath.receiver.NotificationReceiver" />

        <activity

            android:name="com.elmuj.learnmath.ui.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenWindow">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name="com.elmuj.learnmath.ui.ActivitySetting"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenWindow" />

        <activity
            android:name="com.elmuj.learnmath.ui.LearnTableActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenWindow" />


        <activity
            android:name="com.elmuj.learnmath.ui.LearnQuizActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenWindow" />
        <activity
            android:name="com.elmuj.learnmath.ui.LevelActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenWindow" />
        <activity
            android:name="com.elmuj.learnmath.ui.QuizActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenWindow" />

        <activity
            android:name="com.elmuj.learnmath.ui.ScoreActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenWindow" />


        <activity
            android:name="com.elmuj.learnmath.ui.ReviewAnswerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenWindow" />
        <activity
            android:name="com.elmuj.learnmath.ui.AllReviewTestActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenWindow" />

        <activity
            android:name="com.elmuj.learnmath.ui.ReviewTestActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenWindow" />
        <activity
            android:name="com.elmuj.learnmath.ui.InputActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenWindow"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.elmuj.learnmath.ui.TrueFalseActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenWindow"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.elmuj.learnmath.ui.FindMissingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenWindow"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name="com.elmuj.learnmath.ui.DualActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenWindow"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name="com.elmuj.learnmath.ui.DualScoreActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenWindow"
            android:windowSoftInputMode="stateAlwaysHidden" />


        <activity
            android:name="com.elmuj.learnmath.ui.ActivityReminder"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenWindow"
            android:windowSoftInputMode="stateAlwaysHidden" />


    </application>

</manifest>